<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ansimpleasy.ans.mapper.file.FileMapper">
    <select id="selectByType" resultType="com.ansimpleasy.ans.entity.common.File">
        SELECT * FROM t_file ${ew.customSqlSegment}
    </select>
</mapper>
